<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something went wrong</title>

  <style>
    a {
      display: block;
      width: 115px;
      height: 25px;
      background: #3f3f3f;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
    }
    a:hover {
      background: #0f0f0f;
    }
  </style>
</head>
<body>
  <h1>Something went wrong! </h1>
  <a href="/">Go Home</a>
</body>
</html>